# Python
__pycache__/
*.pyc
*.pyo

# Nuitka output
dist/
nuitka-crash-report*.xml

# IDE / tools
.omc/
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# App Data
configs/
imported/
thumbnails/
preconfig.json
sponsorship.jpg
release_endpoints.local.json
cs2toolkit_data_path.txt
CS2Toolkit/

# Logs
*.log
